---
layout: base
---

<div class="home">

  <div>
    <div>

      <header class="post-header">
        <h1 class="post-title">Elokapinan Keskiluokkakapina</h1>
      </header>

      <p>Keskiluokkakapina pyrkii muuttamaan yhteiskunnan rakenteita sellaisiksi, että tavallisen ihmisen olisi helppoa
        elää tavallista elämäänsä ekologisesti kestävällä tavalla. Keskiluokkakapinaan ovat tervetulleet kaikki, joiden
        rinnassa sykkii keskiluokkainen sydän ja (tai tai) jotka näkevät keskiluokan valinnoissa ja aktivoinnissa
        avaimet ekokriisistä selviämiseen.
      </p>
    </div>

  </div>

  <div class="text-content-duo-wrapper">
    <div>
      <p>Keskiluokkakapina herättelee viestillään ennen kaikkea niitä tavallisia ihmisiä, jotka jo tunnistavat kriisin
        laajuuden, mutta jotka silti yhä, vastoin parempaa tietoaan, yrittävät elää kuin mitään ei olisi
        tapahtumassakaan.
        Keskiluokkakapinan keinovalikoimaan kuuluvat valistus, mutta myös älykäs huumori ja kirpeä itseironia.
        Huumorinsa
        Keskiluokkakapina suuntaa aina joko ylempiinsä, sillä johtajien moraalinen velvollisuus olisi viimein ryhtyä
        johtamaan meitä myös esimerkillään kohti planetaarisia rajoja kunnioittavaa elämäntapaa, tai, omat puutteensa
        rehellisesti tunnustaen, kanssakeskiluokkaisiinsa, joiden luomalla kysynnällä on ratkaiseva vaikutus siihen,
        mitä on
        realistista tarjota.
      </p>
    </div>

    <div>
      <img src="./assets/images/er-logo.png" alt="">

    </div>

  </div>

<!--   <p>Keskiluokkakapina herättelee viestillään ennen kaikkea niitä tavallisia ihmisiä, jotka jo tunnistavat kriisin
    laajuuden, mutta jotka silti yhä, vastoin parempaa tietoaan, yrittävät elää kuin mitään ei olisi
    tapahtumassakaan.
    Keskiluokkakapinan keinovalikoimaan kuuluvat valistus, mutta myös älykäs huumori ja kirpeä itseironia.
    Huumorinsa
    Keskiluokkakapina suuntaa aina joko ylempiinsä, sillä johtajien moraalinen velvollisuus olisi viimein ryhtyä
    johtamaan meitä myös esimerkillään kohti planetaarisia rajoja kunnioittavaa elämäntapaa, tai, omat puutteensa
    rehellisesti tunnustaen, kanssakeskiluokkaisiinsa, joiden luomalla kysynnällä on ratkaiseva vaikutus siihen,
    mitä on
    realistista tarjota.
  </p> -->




  <p>Keskiluokkakapina ei siis tee valintaa siemenen ja kasvin (ent. kanan ja munan) välillä vaan valitsee sekä
    yhteiskunnan rakenteet että arjen “matalalla roikkuvat hedelmät”.
  </p>

  <p>Keinovalikoimaltaan Keskiluokkakapina on keskiluokkainen, eli sen järjestämät tapahtumat ovat aina ns. vihreän
    valon tilaisuuksia, joissa vastakkainasettelun sijaan tavoitellaan yhteisyyttä ja yhteistä päämäärää.
  </p>


</div>